<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="<%=url%>/css/output.css">
</head>
<body>
  <a href="/about">About</a>
  <h1 class="text-orange-800 text-2xl">Testing...Ejs</h1>
</body>
</html>